.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        .form-group
          %label Name
          = f.text_field :name, class: 'form-control'
        .form-group
          %label Email
          = f.text_field :email, class: 'form-control'
        .form-group
          = f.submit class: 'btn btn-primary'