.col-md-9
  = @seed
  .row
    - @groupings.each do |lunch_group_members|
      .col-md-4
        %ul.list-group
        - lunch_group_members.each do |employee|
          %li.list-group-item
            = employee.name

.col-md-3
  %ul.list-group
    %li.list-group-item.list-group-item-info
      %i.fa.fa-calendar
      Upcoming Lunches
    - (Date.today..28.days.from_now).each do |date|
      - if date.strftime('%A') == 'Friday'
        %li.list-group-item{class: ('active' if date == Date.today).to_s}
          = date.inspect

